<p id="notice"><%= notice %></p>

<h1>Flats</h1>

<div id="map"></div>



<button type="button" class="btn btn-primary">Primary</button>
<i class="fab fa-accusoft"></i>

<%= link_to 'New Flat', new_flat_path %>



<style>
  body { margin: 0; padding: 0; }
  #map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
